<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>车辆登记</title>
	<meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	{% include "inc_head_css.html" %}
	<!-- ================== END BASE CSS STYLE ================== -->

	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->

	<!-- ================== END PAGE LEVEL STYLE ================== -->

	<!-- ================== BEGIN BASE JS ================== -->
	{% include "inc_head_js.html" %}
	<!-- ================== END BASE JS ================== -->
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->

	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		{% include "inc_header.html" %}
		<!-- end #header -->

		<!-- begin #sidebar -->
		{% include "inc_sidebar.html" %}
		<!-- end #sidebar -->

		<!-- begin #content -->
		<div id="content" class="content">

			<!-- begin row -->
			<div class="row">
			    <!-- begin col-list -->
			    <div class="col-md-6 col-sm-12 ui-sortable">
			        <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            </div>
                            <h4 class="panel-title">车辆登记</h4>
                        </div>

                        {% if data_list | length < 1 %}
                            <div class="alert alert-danger fade in">
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">×</span>
                                </button>
                                系统检测到您还尚未建立车辆分类，请到【<a href="/class/add">车辆分类</a>】中建立分类后再使用此功能。
                            </div>
                        {% endif %}

                        {% with messages = get_flashed_messages(with_categories=true, category_filter=["msg_error"]) %}
							{% if messages %}
								{% for category, message in messages %}
									<div class="alert alert-danger fade in">
										<button type="button" class="close" data-dismiss="alert">
											<span aria-hidden="true">×</span>
										</button>
										{{ message }}
									</div>
								{% endfor %}
							{% endif %}
						{% endwith %}

                        {% with messages = get_flashed_messages(with_categories=true, category_filter=["msg_warning"]) %}
							{% if messages %}
								{% for category, message in messages %}
									<div class="alert alert-warning fade in">
										<button type="button" class="close" data-dismiss="alert">
											<span aria-hidden="true">×</span>
										</button>
										{{ message }}
									</div>
								{% endfor %}
							{% endif %}
						{% endwith %}

                        <div class="panel-body">
                            <form action="/car/add/save" method="POST">
                                <fieldset>
                                    <legend class="text-success">登记</legend>
                                    <div class="form-group">
                                        <label>车牌号</label>
                                        <div class="row row-space-10">
                                            <div class="col-md-2  col-sm-6">
                                                <select class="form-control" name="car_region">
                                                    {% for region in region_list %}
                                                    <option value="{{region}}">{{region}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-4  col-sm-6">
                                                <input type="text" class="form-control" name="car_code"  placeholder="车牌号，例如 A12345" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row row-space-10">
                                            <div class="col-md-6 col-sm-12">
                                                <label>车主名称</label>
                                                <input type="text" class="form-control" name="car_owner" value="" placeholder="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row row-space-10">
                                            <div class="col-md-6 col-sm-12">
                                                <label>手机号码</label>
                                                <input type="number" class="form-control" name="car_mobile" value="" placeholder="手机号码" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>备注说明</label>
                                        <input type="text" class="form-control" name="car_note" value="" placeholder="选填">
                                    </div>
                                    <label>所属分类</label>
                                    <div class="radio">
                                        {% for class in data_list %}
                                        <label class="checkbox-inline">
                                            <input type="radio" name="class_id" value="{{ class[0] }}"> {{ class[1] }}
                                        </label>
                                        {% endfor %}
                                    </div>
                                    <hr/>
                                    <button type="submit" class="btn btn-sm btn-primary m-r-5">保存</button>
                                    <button type="reset" class="btn btn-sm btn-default">重填</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <!-- end panel -->
                </div>
                <!-- end col-list -->
            </div>
            <!-- end row -->
		</div>
		<!-- end #content -->

		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->

	<!-- ================== BEGIN BASE JS ================== -->
	{% include "inc_foot_base_js.html" %}
	<!-- ================== END BASE JS ================== -->

	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="{{url_for('static',filename='js/apps.min.js')}}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
			PagesClassActive(); //page.js 根据页面地址激活对应class active
		});
	</script>
</body>
</html>