		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar user -->
				<ul class="nav">
					<li class="nav-profile">
						<div class="info">
							<small id="show_time"> </small>
						</div>
					</li>
				</ul>
				<!-- end sidebar user -->
				<!-- begin sidebar nav -->
				<ul class="nav">
					<li class="has-sub active">
						<a href="javascript:;">
						    <b class="caret pull-right"></b>
						    <i class="fa fa-umbrella"></i>
						    <span>系统首页</span>
					    </a>
						<ul class="sub-menu">
							<li id="sidebar_home"><a href="/">系统首页</a></li>
						    <li id="sidebar_car_activity"><a href="/car/activity/">现存车辆列表</a></li>
							<li id="sidebar_car_times"><a href="/car/times/">超时停靠列表</a></li>
							<li id="sidebar_car_infos"><a href="/car/infos/">车辆登记明细</a></li>
							<li id="sidebar_car_log"><a href="/car/log/">车辆出行记录</a></li>
						</ul>
					</li>
					<li class="has-sub">
						<a href="javascript:;">
						    <b class="caret pull-right"></b>
						    <i class="fa fa-wrench"></i>
						    <span>系统管理</span>
					    </a>
						<ul class="sub-menu">
							<li id="sidebar_system_config"><a href="/system/config/">系统配置</a></li>
							<li id="sidebar_system_users"><a href="/system/admin/">管理员配置</a></li>
						    <li id="sidebar_system_camera"><a href="/system/camera/">摄像头配置</a></li>
							<li id="sidebar_system_tencentsdk"><a href="/system/tencentsdk/">云识别配置</a></li>
						</ul>
					</li>
			        <!-- begin sidebar minify button -->
					<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
			        <!-- end sidebar minify button -->
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>